{{define "subject"}}FollowUps - Password Reset{{end}}

{{define "plainBody"}}
Password reset request
Please send a request to the `PUT /v1/users/updatepassword` endpoint with the following JSON body to activate your account:

{"token": "{{.resetPasswordToken}}", "password": "<new password>"}

Thanks,
The FollowUps Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>Password reset request</p> 
    <p>Please send a request to the <code>PUT /v1/users/updatepassword</code> endpoint with the following JSON body to activate your account:</p>
    <pre><code>
    {"token": "{{.resetPasswordToken}}", "password": "new password"}
    </code></pre>
    <p>Thanks,</p>
    <p>The FollowUps Team</p>
  </body>
</html>
{{end}}
